@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/kanit-2');

@font-face {
    font-family: 'Gotchi';
    src: url('/fonts/AAVEGOTCHi_FONT_V1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}